
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Raleway:200);

h1 {
    color: #111;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 2px;
  }

.donut-container{
    position: relative;

}

.center{
    text-align: center;
}

.donut-box{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff!important;
    display: block;
    border-radius: 4px;
    height: 100%;
}

img {
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
    border-radius: 100%;
    position: absolute; left: 32px;top: 32px;
}

.donut-pctg{
    position: absolute;
    top: 191px;
    left: 83px;
    color: #626d78;
    font-family: 'Abel';
    font-size: 1.1em;
}



