* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Do Hyeon', sans-serif;
    background: #7049f7;
}

#js-lotto-drawbox table {
    border-collapse: separate;
    border-spacing: 10px;
    background: url(img/spin.png);
    background-size: 100% 100%;
    padding: 20px;
}

#js-lotto-drawbox table td {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #333;
    background: rgb(255, 236, 0, 0.5);
    padding: 8px 15px;
}

#js-lotto-drawbox table td.active {
    background-color: #FFEC00;
}

#js-lotto-drawbox table td.bold {
    text-decoration: line-through;
}

.square.is-active {
    border: 20px solid gold;
}

.square__start-btn {
    margin: 20px auto;
    background: gold;
    color: #e97573;
    font-size: 2em;
    cursor: pointer;
}

.square__start-btn:hover {
    background: #ffeb80;
}