#cd-menu-trigger {
    top: 20px;
    left: 30px;
    position: absolute;
    cursor: pointer;
  }
  #cd-menu-trigger i {
    color: black;
  }
  
  #cd-x-trigger {
    position: absolute;
    right: 30px;
    top: 15px;
    cursor: pointer;
  }
  #cd-x-trigger i {
    color: white;
  }
  #cd-x-trigger i:hover {
    transition: color 0.5s ease;
    color: gray;
  }
  
  #cd-side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.9;
    padding-top: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
  }
  
  #cd-side-menu ul {
    position: relative;
    width: 300px;
  }
  
  #cd-side-menu li {
    list-style-type: none;
  }
  
  #cd-side-menu a {
    display: block !important;
    color: white;
    transition: 0.5s;
    text-decoration: none;
    font-family: Futura;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    list-style-type: none;
    padding: 10px 10px 10px 30px;
  }
  #cd-side-menu a:hover {
    transition: color 0.5s ease;
    color: gray;
    background-color: black;
  }
  
  .dropdown ul {
    background-color: black;
    margin-left: 15%;
    position: relative;
  }
  
  .dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  
  #education-law-side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
  }
  #education-law-side-menu table {
    margin-top: 60px;
    margin-left: 20px;
  }
  #education-law-side-menu thead {
    padding-top: 40px;
  }
  #education-law-side-menu th {
    color: white;
    font-family: Futura;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  #education-law-side-menu td {
    border-top: none;
  }
  #education-law-side-menu td a {
    font-family: Garamond;
    color: white;
  }
  #education-law-side-menu td a:hover {
    transition: color 0.5s ease;
    color: gray;
    text-decoration: none;
    cursor: pointer;
  }
  
  #team-side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
  }
  #team-side-menu .card {
    cursor: pointer;
    margin-top: 60px;
    color: white;
    font-family: Futura;
    font-size: 15px !important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  #team-side-menu .card a {
    color: white;
  }
  #team-side-menu .card a:hover {
    text-decoration: none;
    transition: color 0.5s ease;
    color: gray;
  }
  #team-side-menu .card img {
    height: 200px;
  }
  #team-side-menu .card .card-block {
    padding-top: 20px;
  }
  #team-side-menu .card .card-text {
    text-transform: lowercase;
    font-family: Garamond;
  }
  